/* custom style sheet */
.input {
    background: url('icon.png') no-repeat right;
}

.rgt-arrow {
    width: 500px;
    height: auto;
    background-color: cornflowerblue;
    margin: 0 auto;
    border-radius: 40px;
    margin-top: 30px;
    padding-left: 30px;
    text-align: center;
    color: #fff;
}

#d-none {
    display: none;
}